
<div class="cuerpo">

	<div class="anuncio">

		<div class="alert alert-danger" *ngIf="status == 'error'">
			No te has identificado correctamente
		</div>
	</div>

	<section id="formulario">
	<div class="salt">
	</div>
	<br>
	<img class="img-usuario" src="./assets/images/img-user.png">

		<form #loginForm="ngForm" (ngSubmit)="onSubmit()">

			<input type="text" id="usuario" name="usuario" placeholder="usuario" #email="ngModel" [(ngModel)]="user.email" required>

			<input type="password" id="password" name="password" placeholder="Contraseña" #password="ngModel" [(ngModel)]="user.password" required>


			<input type="submit" value="iniciar sesion">
			<td class="ini"></td>
			<p class="tx" align="center"><a class="indown" href="index.html">Recuperar contraseña</a></p>
		</form>
	</section>
</div>


 <!--fin del cuerpo-->