
<div class="cuerpo">

	<div class="alertas">

		<div class="alert alert-danger" *ngIf="status == 'error'">
			{{message}}
		</div>
	</div>

	<section id="formulario">
	<div class="salt">
	</div>
	<br>
	<img class="img-usuario" src="./assets/images/img-user.png">

		<form #loginForm="ngForm" (ngSubmit)="onSubmit()">

			<div class="inp">
				<input type="text"  name="email" placeholder="usuario" #email="ngModel" [(ngModel)]="user.email" minlength="5" maxlength="50" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
			
				<span *ngIf="!email.valid && email.touched" tooltip="Utilize el siguiente  formato: alguien@example.com"
				      [tooltipDisabled]="false"
				      [tooltipAnimation]="true"
				      tooltipPlacement="right">
					  Complete este campo Corectamente
				</span>
			</div>

			<div class="inp">
				<input type="password" name="password" placeholder="Contraseña" #password="ngModel" [(ngModel)]="user.password" placeholder="Contraseña" minlength="8" maxlength="30" pattern="[A-Za-z0-9!?-]{8,30}" required>

				<span *ngIf="!password.valid && password.touched" tooltip="La contraseña debe contener minimo 8 caracteres"
				      [tooltipDisabled]="false"
				      [tooltipAnimation]="true"
				      tooltipPlacement="right">
					  La contraseña es obligatoria
				</span>
			</div>
			
			<input type="submit" value="iniciar sesion">

			<p class="tx" align="center"><a class="indown" href="index.html">Recuperar contraseña</a></p>
		</form>
	</section>
</div>


 <!--fin del cuerpo-->