.cuerpo{
	width: 1200px;
	margin:0 auto;
}


.alertas{
	margin: auto;
	width: 100%;
	max-width: 480px;
	margin-top:35px; 
}

.alertas a{
	color: #3db7ef;

}


section#formulario{

	margin: auto;
	margin-top: 35px;
	width:480px;
	background-color: #172646;
	margin-bottom: 50px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}


p#titulo{
	font-size: 1.6em;
	text-align: center;
	font-family: gadugi;
	color: white;

	margin-top: 25px;

}
span{
	color: #fff;
	margin-left: 35px;
	margin-top:30px;
	font-size: 1.1em;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
	width: 410px;
	height: 40px;
	margin-left: 35px;
	padding-left: 20px;
	font-size: 1.1em;
	outline: none;
	border:0px;
	background-color: #fff;
}

label{
	width: 410px;
	color: #FFF;
	margin-left: 35px;
	font-size: 1.1em;
	margin-top:30px;
}

input[type="submit"]{
	margin-left: 35px;
	margin-top: 50px;
	width:410px;
	height: 50px;
	border:0px;
	background-color: #3db7ef;
	color: white;
	font-size: 1.2em;
	cursor: pointer;
	margin-bottom: 35px;


}

input:focus, textarea:focus {
  outline: 0;
  border-color: #2d3e50;
}

