<!--Contenedor del Menu, seccion de arriba -->
<div class="linea">
  <div class="clogo">
    <img class="log" src="./assets/images/logo.png">
  </div>

</div>

<div class="menu1" *ngIf="menu">
  <div class="menu">
    <div class="limite">
      <nav>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">INICIO</a>
          <a [routerLink]="['/productos']" [routerLinkActive]="['active']">SERVICIOS</a>
          <a [routerLink]="['/acercade']" [routerLinkActive]="['active']">ACERCA DE</a>
          <a [routerLink]="['/contactos']" [routerLinkActive]="['active']">CONTACTO</a>
          <a [routerLink]="['/graf-lineal']" [routerLinkActive]="['active']">GRAFICA</a>
          <a style="width: 15%;" *ngIf="identity" [routerLink]="['/admin']" [routerLinkActive]="['active']" (click)="onMenu2()">MI ALBERCA</a>   
      </nav>

      <div class="usuario" *ngIf="identity">

          <div class="avatar">
            <img src="{{url + 'get-image-file/'+identity.Usu_Image}}">    
          </div>  

          <a [routerLinkActive]="['active']" [routerLink]="['/mis-datos']">{{identity.Usu_Nombre+" "+identity.Usu_Apellido_P}}</a>

          <a [routerLinkActive]="['active']" (click)="logout()">SALIR</a>

      </div>

      <div class="usuario" *ngIf="!identity">

          <a [routerLink]="['/register']" [routerLinkActive]="['active']">REGISTRO</a>

          <a [routerLink]="['/login']" [routerLinkActive]="['active']" >LOGIN</a>

      </div>

    </div>
  </div>

  <!--Seccion de en medio -->
  <div class="banner">
    <div ng2-carouselamos class="slides-wrapper" 
    [items]="items"
    [width]="1200"
    [$prev]="prev"
    [$next]="next"
    [$item]="item">
    </div>

    <ng-template #prev>
      <img src="./assets/images/prev.svg" id="left" />
    </ng-template>

    <ng-template #next>
      <img src="./assets/images/next.svg" id="right" />
    </ng-template>

    <ng-template #item let-item let-i="index">
      <div class="items">
          <img src="{{item.name}}" class="imgb">
      </div>
    </ng-template>

  </div>  
</div>

<div class="menu2" *ngIf="!menu">
    <div class="titulo">
      <h1>{{miTitulo}}</h1>
    </div>
    <div class="btn-salir">
      <a [routerLink]="['/home']" (click)="onMenu1()" [routerLinkActive]="['active']">Salir</a> 
    </div>
 
</div>

  <div class="secciones" *ngIf="miTitulo=='Usuarios'">
    <nav>
      <a (click)="volveMenu2()" [routerLink]="['/admin']">Volver al menu</a>
      <a [routerLink]="['/miembros']" [routerLinkActive]="['active']">Buscar usuario</a>
      <a [routerLink]="['/registrarmiembro']" [routerLinkActive]="['active']">Registrar usuario</a>
      <a [routerLink]="['/editar_miembro']" [routerLinkActive]="['active']">Editar usuario</a>
    </nav>    
  </div>

  <div class="secciones" *ngIf="miTitulo=='Albercas'">
    <nav>
      <a (click)="volveMenu2()" [routerLink]="['/admin']">Volver al menu</a>
      <a [routerLink]="['/buscar_alberca']" [routerLinkActive]="['active']">Buscar alberca</a>
      <a [routerLink]="['/registrar_alberca']" [routerLinkActive]="['active']">Registrar alberca</a>
      <a [routerLink]="['/editar_alberca']" [routerLinkActive]="['active']">Editar albercas</a>
    </nav>
  </div>

  <div class="secciones" *ngIf="miTitulo=='Sensores'">
    <nav>
      <a (click)="volveMenu2()" [routerLink]="['/admin']">Volver al menu</a>
      <a [routerLink]="['/buscar_sensor']" [routerLinkActive]="['active']">Buscar sensor</a>
      <a [routerLink]="['/editar_sensor']" [routerLinkActive]="['active']">Editar sensor</a>
    </nav>
  </div>

  <div class="secciones" *ngIf="miTitulo=='Mantenimiento'">
    <nav>
      <a (click)="volveMenu2()" [routerLink]="['/admin']">Volver al menu</a>
      <a [routerLink]="['/buscar_mante']" [routerLinkActive]="['active']">Buscar registro</a>
      <a [routerLink]="['/registrar_mante']" [routerLinkActive]="['active']">Crear registro</a>
      <a [routerLink]="['/editar_mante']" [routerLinkActive]="['active']">Editar registro</a>
    </nav>
  </div>


  <div class="contenedor" *ngIf="!menu && cuerpo">    
 
    <div class="main">
      <div class="cimg" id="i1" (click)="activeClientes()" [routerLink]="['/miembros']">
        <p class="selec"> Clientes</p>
        <img src="./assets/images/clientes.png">
    </div>

      <div class="cimg" (click)="activeAlberca()" [routerLink]="['/buscar_alberca']" [routerLinkActive]="['active']">
        <p class="selec"> Albercas</p>
        <img src="./assets/images/alberca2.png">
      </div>

      <div class="cimg" (click)="activeSensor()" [routerLink]="['/buscar_sensor']">
        <p class="selec"> Sensores</p>
        <img src="./assets/images/sensor.png">
      </div>

      <div class="cimg" (click)="activeMantenimiento()" [routerLink]="['/buscar_mante']">
        <p class="selec"> Mantenimientos</p>
        <img src="./assets/images/manteni.png">
      </div>

    </div>

  </div>


<router-outlet></router-outlet>


<br>
<!--Seccion de abajo -->

<div class="pie">

  <div class="pielimit">
    
      <div class="pieizq">
        <img class="logf" src="./assets/images/logo.png">
      </div>


      <div class="piecentro">
          <p class="info">
          Copyright © 2016 Hard sys Todos los derechos reservados
        </p>

      </div>


      <div class="pieder">
        <div class="red">
          <img src="./assets/images/redface.png"/>
        </div>

        <div class="red">
          <img src="./assets/images/redtwitter.png"/>
        </div>

        <div class="red">
          <img src="./assets/images/redwhats.png"/>
        </div>
      </div>

  </div>

</div> <!--fin pie-->