/*seguno menu*/
.menu2{
    background:#172646;
    width: 100%;
	height: 50px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;

}

.menu2 .titulo{
    width: 1200px;
	height: 40px;
	margin-left:193px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	text-align: center;
}

.menu2 .titulo h1{
	width: 70%;
	height: 40px;
	color: white;
	font-family: gadugi;
	font-size: 1.8em;
	margin-top: 5px; 
}

.menu2 .btn-salir{
	background:#172646;
    width: 190px;
	height: 40px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.menu2 .btn-salir a{
	width: 70%;
	height: 40px;
	margin: auto;
	color: white;
	font-family: gadugi;
	font-size: 1.8em;
	text-decoration: none;

}

.menu2 .btn-salir a:hover {
   border-bottom: 4px solid #fff;

}

.menu2 .btn-salir a.active {
   border-bottom: 4px solid #fff;
}


/*fin del segundo menu*/	

/*Menu de panel administrativo para altas,bajas y busquedas*/
.secciones {
	/*padding:20px;*/
	margin-top: 10px;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;

}

.secciones nav{
	width: 100%;
	max-width: 960px;
 	margin: 40px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content:center;
}

.secciones nav a {
	width: 80px;
	background: white;
	padding:5px;
	margin: 5px;
	border: 2px solid #3db7ef;

	font-family: gadugi;
	font-size: 1.2em;
	color: #4d4f54;

	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	text-decoration: none;
	flex-grow:1;
}

.secciones nav a:hover {
	color: white;
	background:#3db7ef;
}

.secciones nav a.active {
	color: white;
	background:#3db7ef;
}

/*fin del menu de alta,bajas y bsuquedas*/

/* cuerpo del menu numero 2*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
.contenedor {
	
	width:100%;
	max-width:1200px;
	margin:auto;
 
	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}
.main {
	background:#fff;
	padding:20px;
	flex-basis: 100%;
	/*flex:1;*/

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;

}


.cimg{
	width: 380px;
	height: 300px;
	background-color: white;
	margin: 30px;
	margin-top: 70px;
	margin-bottom: 50px;
	border: 2px solid #3db7ef;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.cimg img{
	height: 200px;
	margin: 5px;

}

.cimg:hover{
	border: 2px solid #a5adb8;
	background-color: #e0e4e7;
	cursor: pointer;
}



.selec{
	margin: 5px;
	color: #4d4f54;
	font-family: gadugi;
	font-size: 2em;
}

a{
	text-decoration: none;
}

.derechos{
	font-family: gadugi;
	color: white;
	margin: auto;
}

/*fin del cuerpo el menu 2*/

.banner {
	width: 1200px;
	margin: auto;
	border-spacing: 60px;
	display: flex;
}

.imgb {
	width: 1200px;
	height: 299px;
}

#left, #right{
	margin: 30px;
}

.menu{
	width: 100%;
	background-color: #172646;
	box-sizing: border-box;
    box-sizing: inherit;
}

.limite{
	width: 1200px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.limite nav{
	width: 800px;
	height: 50px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.limite nav a{
	width: 12%;
	height: 40px;
	color: #fff;
	font-family: Gadugi;
	font-size:14px;
	text-decoration: none;
	cursor: pointer;

	padding: 10px;
	margin-right: 10px;	
	text-align: center;
	justify-content: center;
}

.limite nav a:hover {
   border-bottom: 4px solid #fff;

}

.limite nav a.active {
   border-bottom: 4px solid #fff;
}


.limite .usuario{
	width: 397px;
	height: 50px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;

}

.limite .usuario a{
	width: 27%;
	height: 40px;
	font-family: Gadugi;
	font-size:14px;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	padding: 10px;
	margin-left: 10px;	
	text-align: center;
	justify-content: center;
}

.limite .usuario a:hover {
   border-bottom: 4px solid #fff;

}

.limite .usuario a.active {
   border-bottom: 4px solid #fff;
}


.limite .usuario .avatar{
	width: 20%;
	height: 44px;
	margin-left: 10px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.limite .usuario .avatar img{
	width: 40px;
	height: 40px;
	padding-top: 5px;
	margin-left: 10px;	
}

.linea{
	width: 100%;
	height: 150px;
	background-color: #3db7ef;
}

.clogo{
	width: 500px;
	height: 150px;
	margin:0 auto;
}
.log{
	display: flex;
	margin:0 auto;
	padding-top:  15px;
	
}

.tabla{	
	width: 1100px;
	height: 40px;
	margin: 0 auto;
	background: #CECECE;
}


.cbot{
	width: 310px;
	height: 50px;
	margin-left: 890px;
	margin-top: -40px;
	background: #cecece;
	border: 1px solid #000;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;


}

.login{
	width: 100%;
	height: 40px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	align-items: center;
	align-content: center;
	justify-content: center;
}
.login li{
	width: 20%;
	height: 40px;

}

.login li img{
	width: 35px;
	height: 35px;
	border-radius: 500px;
}
.login a{
	width: 30%;
	height: 40px;
	border:1px solid yellow;
	color: #fff;
	font-family: Gadugi;
	font-size:14px;
	text-decoration: none;
	padding: 10px;
	cursor: pointer;
}

.login a:hover {
   border-bottom: 4px solid #fff;

}

.login a.active {
   border-bottom: 4px solid #fff;
}

.avatar{

}
.logout{
	width: 210%;
	height: 40px;
	margin: 0 auto;
	padding-top: 13px;	

}
.logout a{
	color: #fff;
	font-family: Gadugi;
	font-size:14px;
	text-decoration: none;
	padding: 10px;
	cursor: pointer;
}

.logout a:hover {
   border-bottom: 4px solid #fff;

}

.logout a.active {
   border-bottom: 4px solid #fff;
}


.pie{
	width: 100%;
	height: 180px;
	background-color: #172646;

}

.pielimit{

	width: 1200px;
	height: 180px;
	margin: 0 auto;
}

.pieizq{

	width: 265px;
	height: 180px;
	float: left;
	display: flex;
    justify-content: center;
    align-items: center;
}

.piecentro {
	width: 670px;
	height: 180px;
	float: left;
	display: flex;
    justify-content: center;
    align-items: center;

}

.info {
	text-align: justify;
    font-family: Trebuchet MS;
    font-size:16px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieder {
	width: 265px;
	height: 180px ;
	float: left;
	display: flex;
    justify-content: center;
    align-items: center;
	
}

.red{
	padding-left: 5px;
	float: left;
}
