<div class="cuerpo">

<div class="ladoizq">
  <div class="denizq">
    <h1> El monitoreo de piscinas en tus manos... </h1>

    <p>
        Permitenos darte informacion detallada del estado real de tu piscina
        contrata nuestro servicio que esta respaldado por años de experiencia,
        es por ello que somos la mejor opcion.
    </p>

    <br> <br>

    <h1> ¿Quienes Somos? </h1>

    <p>
        PoolSolutions es una empresa dedicada al monitoreo de las piscinas
        que aporta informacion en tiempo real sobre el estado en que esta
        se encuentre, esto con la ayuda de un sistema que se instala y que
        con sensores manda la informacion recaudada para posteriormente
        proyectarla mediante graficas.
    </p>

  </div>

</div> <!--fin del lado izquierdo-->

<div class="ladoder">

    <div class="cont-estadistica">

      <div class="arrib">
        <img class="grf" src="./assets/images/graf.jpg">
      </div>

      <div class="abaj">
        <p class="pblanco">
            Te mostramos la informacion obtenida de tu piscina, mediante graficas, para que 
            resulte mas amigable e intuitiva a la hora de analizarlos, esto con ayuda de tus
            dispositivos que esten al alcance para checar dichas graficas el momento que prefieras
            completamente en tiempo real.
            
           </p>
        
      </div>

    
      </div>



<!--fin del lado derecho-->
</div>

</div> <!--fin del cuerpo-->