
body {
	margin: 0;
	height: 1000;
	background-color: #ffffff;
}



.cuerpo{
	width: 1200px;
	margin: auto;

	height: 600px;
}

.banner {
	width: 1200px;
	height: 299px;
	margin: auto;
	
}

p {
	text-align: justify;
	line-height: 1.5;
    font-family: calibri;
    font-size:18px;
    color: #4d4f54;
}

p.pblanco{
	text-align: justify;
	line-height: 1.5;
    font-family: calibri;
    font-size:18px;
    color: white;
}

h1 {
	font-family: Gadugi;
	color: #4d4f54;
	text-align: center;
}


h2 {
	font-family: Trebuchet MS;
	color: #4d4f54;
	text-align: center;
}

.ladoizq{
	width:700px;
	height:600px;
	float: left;
	

}

.denizq{
	
	width:660px;
	height:410px;
	margin: auto;
	margin-top: 100px;
}

.ladoder{
	
	width:500px;
	height:600px;
	float: right;

}

.cont-estadistica{
	width: 420px;
	height: 410px;
	margin:0 auto;
	margin-top: 100px;
	background-color: #172646;
}

.arrib{
	width: 400px;
	height: 200px;
	
	margin: auto;
	
}

.grf{
	margin-top: 10px;
}

.abaj{
	width: 400px;
	height: 170px;
	margin: auto;
	margin-top: 25px;
}


.pie{
	width: 100%;
	height: 180px;
	background-color: #172646;
	margin-top: 670px;

}

.pielimit{

	width: 1200px;
	height: 180px;
	margin: 0 auto;
}

.pieizq{

	width: 265px;
	height: 180px;
	float: left;
	display: flex;
    justify-content: center;
    align-items: center;
}

.piecentro {
	width: 670px;
	height: 180px;
	float: left;
	display: flex;
    justify-content: center;
    align-items: center;

}

.info {
	text-align: justify;
    font-family: Trebuchet MS;
    font-size:16px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieder {
	width: 265px;
	height: 180px ;
	float: left;
	display: flex;
    justify-content: center;
    align-items: center;
	
}

.red{
	padding-left: 5px;
	float: left;
}
