  <div class="contenedor">

    <div class="alertas">

    <div class="alert alert-danger" *ngIf="status == 'error'">
      <h3>{{message}}</h3>
    </div>

  </div>

  <div class="datos">
      <form #buscarSensorForm="ngForm" (ngSubmit)="getALberca()" name="buscarSensorForm">
        
        <div>
          <input type="text" placeholder="ID de Alberca" name="buscar" #buscar="ngModel" [(ngModel)]="buscarId" class="form-control" placeholder="Nombre" minlength="3" maxlength="30"  required>
          <span *ngIf="!buscar.valid && buscar.touched" tooltip="Introdusca la id del registro a buscar"
              [tooltipDisabled]="false"
              [tooltipAnimation]="true"
              tooltipPlacement="right">
              ID nesesaria
          </span>
        </div>

        <div>
          <input style="margin: 0px;" type="submit"  value="Buscar Alberca" lass="btn btn-primary" [disabled]="!buscarSensorForm.form.valid">
        </div>

      </form>    
  </div>
      

  <div class="datos">

      <form #editerSensorForm="ngForm" (ngSubmit)="onSubmit(editerSensorForm)" name="editerSensorForm">

      <div class="padre">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #name="ngModel" [(ngModel)]="sensor.Sen_Nombre" class="form-control" placeholder="Nombre" minlength="3" maxlength="50" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{3,200}" required>
        <span *ngIf="!name.valid && name.touched" tooltip="Solo se permiten letras, entre 3-50 caráctere"
              [tooltipDisabled]="false"
              [tooltipAnimation]="true"
              tooltipPlacement="right">
            El nombre es obligatorio
        </span>
      </div>

      <div>

        <label for="descripcion">Descripcion</label>
          <input type="text" name="descripcion" placeholder="Capacidad" #descripcion="ngModel" [(ngModel)]="sensor.Sen_Descripcion" class="form-control" minlength="3" maxlength="200"  required>

            <span *ngIf="!descripcion.valid && descripcion.touched" tooltip="Solo se permiten letras, entre 3-200 caráctere"
              [tooltipDisabled]="false"
              [tooltipAnimation]="true"
              tooltipPlacement="right">
            Dato obligatorio 
        </span>

      </div>

      <div>

        <label for="adress">IP Adrress</label>
          <input type="text" name="adress" placeholder="Ubicacion" #adress="ngModel" [(ngModel)]="sensor.Sen_ip" class="form-control" minlength="3" maxlength="100" required>

            <span *ngIf="!adress.valid && adress.touched" tooltip="Solo se permiten letras, entre 3-100 caráctere"
              [tooltipDisabled]="false"
              [tooltipAnimation]="true"
              tooltipPlacement="right">
            Dato obligatorio 
        </span>

      </div>

      <div>
        <label for="imagen">Subir foto</label>
        <input type="file" name="imagen" #imagen="ngModel" [(ngModel)]="sensor.Sen_Image" class="form-control" (change)="fileChangeEvent($event)" >

      </div>
          <input type="submit" value="Guardar" class="btn btn-primary" [disabled]="!editerSensorForm.form.valid">

          <input type="button" value="Cancelar" (click)="limpiarForm(editerSensorForm,buscarAlbercaForm)">

      </form>
  </div>

</div> 