<div class="contenedor">

    <div class="busqueda">
        <form class="fa" action="script_acceso_usuario.php" method="post" name="frm_ingreso">

            <input type="text" id="usuario" name="usuario" placeholder="ID de Sensor">

            <input type="submit" href="inicio.html" value="Buscar Sensor"  >

        </form>
      
    </div>

	<div class="datos">

    <form action="script_acceso_usuario.php" method="post" name="frm_ingreso">

      <input type="text" id="usuario" name="usuario" placeholder="ID">
      <input type="text" id="usuario" name="usuario" placeholder="Nombre">
      <input type="text" id="nom" name="usuario" placeholder="Descripcion">
      <input type="text" id="usuario" name="usuario" placeholder="imagen">
      <input type="text" id="usuario" name="usuario" placeholder="Fecha">
      <input type="text" id="nom" name="usuario" placeholder="IP">
    </form>
		</div>

		<div class="botones">
    		<form action="script_acceso_usuario.php" method="post" name="frm_ingreso">

      			<input type="submit" href="inicio.html" value="Guardar Cambios"  >
      			<input type="submit" href="inicio.html" value="Cancelar"  >


    		</form>
			
		</div>

	</div> <!-- fin contenedor-->