<div class="cuerpo">

	<div class="centro">

		<br>
		<br>
		<br>

		<h1> ¿Quienes somos? </h1>

			<p>
		  	PoolSolutions es una empresa dedicada al monitoreo de las piscinas que aporta informacion en tiempo real sobre el estado en que esta se encuentre, esto con la ayuda de un sistema que se instala y que con sensores manda la informacion recaudada para posteriormente proyectarla mediante graficas.

			</p>

		<br>
		<br>

		<h1> Mision </h1>

			<p>
		  	Proporcionar informacion detallada del estado de las piscinas, requeridas por el usuario,por medio de un sistema programable
		  	complejo.
			</p>

			<br>
			<br>

		<h1> Objetivo </h1>

			<p>
		  	Desarrollar sistemas programables en un ambiente distribuido que alimenten una base de datos, montada en un servidor, aplicando
		  	algoritmos de inteligencia artificial, presentando la informacion en un sitio Web dinamico transaccional e implementando un algoritmo de busqueda y ordenamineto.
			</p>

</div> <!--fin centro-->
</div> <!--fin del cuerpo-->