<div class="contenedor">
  
  <div class="botones">
      <form action="script_acceso_usuario.php" method="post" name="frm_ingreso">

          <input type="text" id="usuario" name="usuario" placeholder="ID de Usuario">

          <input type="submit" href="inicio.html" value="Buscar usuario"  >

      </form>
    
  </div>

	<div class="datos">

		<table>
				<tr>
  				<th>{{opcion}}</th>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Telefono</th>
          <th>Email</th>
          <th>Contraseña</th>
          <th>Estado</th>
          <th>Rol</th>
				</tr>
				<tr>
					<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
          <td>null</td>
				</tr>
				<tr>
					<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
          <td>null</td>
				</tr>
				<tr>
					<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
          <td>null</td>
				</tr>
				<tr>
					<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
          <td>null</td>
				</tr>
				<tr>
					<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
          <td>null</td>
				</tr>
				<tr>
					<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
          <td>null</td>
				</tr>
				<tr>
					<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
  				<td>null</td>
          <td>null</td>
				</tr>
		</table>	
	</div>
</div>