	<div class="cuerpo">
		<br> <br> <br>
		<div class="titulo"><h1 id="tit"> Venta del sistema de monitoreo </h1>
			<p id="tile">Seleccione entre las siguientes opciones el sistema de monitoreo que mas se adecue a sus necesidades</p>
		</div>

		<div class="contenedor">
			<div class="opcion">
				<div class="cizq">
					<div class="imciz"> <img class="log" src="./assets/images/casa.png"></div>
					
				</div>
				<div class="cmed">
					<div class="textmed"> <br>
						<h3 class="htexme"> Sistema para Hogar</h3>
						<p class="tpmed"> Este sistema esta capacitado para monitorear el estado de una piscina, de un tamaño pequeño.</p>
					</div>
					
				</div>
				<div class="cder">
					<div class="cprebut">
						<h2 class="pr">$ Precio</h2>
						<input class="venta" type="submit" href="inicio.html" value="Adquirir"  >
						
					</div>
					
				</div>
				
			</div>

			<div class="opcion">
				<div class="cizq">
					<div class="imciz"> <img class="log" src="./assets/images/lug-evento.png"></div>
					
				</div>
				<div class="cmed">
					<div class="textmed"> <br>
						<h3 class="htexme"> Sistema para Lugar de eventos</h3> 
						<p class="tpmed"> Este sistema esta capacitado para monitorear el estado de una piscina, de un tamaño mediano.</p>
					</div>
					
				</div>
				<div class="cder">
					<div class="cprebut"> 
						<h2 class="pr">$ Precio</h2>
						<input class="venta" type="submit" href="inicio.html" value="Adquirir"  >

					</div>
					
				</div>
				
			</div>

			<div class="opcion">
				<div class="cizq">
					<div class="imciz"> <img class="log" src="./assets/images/hotel.png"></div>
					
				</div>
				<div class="cmed">
					<div class="textmed"> <br>
						<h3 class="htexme"> Sistema para Hotel</h3>
						<p class="tpmed"> Este sistema esta capacitado para monitorear el estado de una piscina, de un tamaño grande.</p>
					</div>
					
				</div>
				<div class="cder">
					<div class="cprebut">
						<h2 class="pr">$ Precio</h2>
						<input class="venta" type="submit" href="inicio.html" value="Adquirir"  >
					</div>
					
				</div>
				
			</div>

		</div> <!--fin contenedor-->


		<div class="titulo2"><h1 id="tit"> Instalacion </h1>
			<p id="tile">Al adquirir el producto se procedera a llevar a cabo la instalacion de su sistema sin cargo adicional</p>
			<br>

			<h1 id="tit"> Garantia </h1>
			<p id="tile">El sistema de monitoreo tiene una garantia de 6 meses, empezando el dia de su instalacion</p>
			<br>
		</div>

	</div> <!--fin cuerpo-->