<div class="cuerpo"> <br> <br>
	<h1 id="tit"> Servicios </h1>

	<div class="contenedor"> <br> <br> <br>
		<div class="esp"> </div>
		
		<a [routerLink]="['/ventas']"><div class="conizq" onclick=" " >
			<h1> Venta e Instalacion </h1>
			<div class="cimg"> <img src="./assets/images/img-sist.png"> </div>
			<div class="texcon"><br><br><p class="info">En esta seccion encontrara el sistema de monitoreo mas adecuado a sus requisitos de piscina.</p></div>
		</div></a>

		<div class="esp"> </div>

		<a [routerLink]="['/mantenimiento']"><div class="conder">
			<h1> Mantenimiento </h1>
			<div class="cimg"> <img src="./assets/images/img-man.png"> </div>
			<div class="texcon"><br><br><p class="info">En esta seccion podra solicitar mantenimiento para su sistema de monitoreo existente.</p></div>
		</div></a>

		<div class="esp"> </div>

	</div> <!--fin contenedor-->

</div> <!--fin cuerpo-->