
<div class="contenedor">

    <div class="alertas">

    <div class="alert alert-danger" *ngIf="status == 'error'">
      <h3 style="color: green">{{message}}</h3>
    </div>

  </div>

  <div class="datos">
      <form #buscarSocioForm="ngForm" (ngSubmit)="getSocio()" name="buscarSocioForm">
        
        <div>
          <input type="text" placeholder="ID del socio" name="buscar" #buscar="ngModel" [(ngModel)]="buscarId" class="form-control" placeholder="Nombre" minlength="3" maxlength="30"  required>
          <span *ngIf="!buscar.valid && buscar.touched" tooltip="Introdusca la id del registro a buscar"
              [tooltipDisabled]="false"
              [tooltipAnimation]="true"
              tooltipPlacement="right">
              Nombre nesesaria
          </span>
        </div>

        <div>
          <input style="margin: 0px;" type="submit"  value="Buscar Socio" lass="btn btn-primary" [disabled]="!buscarSocioForm.form.valid">
        </div>

      </form>    
  </div>

  <div class="datos">
      <form #editarSocioForm="ngForm" (ngSubmit)="updateSocio()" name="editarSocioForm">
        

      <div class="padre">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #name="ngModel" [(ngModel)]="socio.Usu_Nombre" class="form-control" placeholder="Nombre" minlength="3" maxlength="48" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{3,48}" required>
        <span *ngIf="!name.valid && name.touched" tooltip="Solo se permiten letras, entre 3-48 caráctere"
              [tooltipDisabled]="false"
              [tooltipAnimation]="true"
              tooltipPlacement="right">
            El nombre es obligatorio
        </span>
      </div>

      <div>

        <label for="paterno">Apellido Paterno</label>
          <input type="text" name="paterno" placeholder="Apellido Paterno" #paterno="ngModel" [(ngModel)]="socio.Usu_Apellido_P" class="form-control" minlength="3" maxlength="48" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{3,48}" required>

            <span *ngIf="!paterno.valid && paterno.touched" tooltip="Solo se permiten letras, entre 3-48 caráctere"
              [tooltipDisabled]="false"
              [tooltipAnimation]="true"
              tooltipPlacement="right">
            Apellido paterno obligatorio
        </span>

      </div>

      <div>

        <label for="materno">Apellido Materno</label>
          <input type="text" name="materno" placeholder="Apellido Materno" #materno="ngModel" [(ngModel)]="socio.Usu_Apellido_M" class="form-control" minlength="3" maxlength="48" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{3,48}" required>

            <span *ngIf="!materno.valid && materno.touched" tooltip="Solo se permiten letras, entre 3-48 caráctere"
              [tooltipDisabled]="false"
              [tooltipAnimation]="true"
              tooltipPlacement="right">
            Apellido paterno obligatorio
        </span>

      </div>

      <div>
        <label for="telefono">Telefono</label>
        <input type="text" name="telefono" placeholder="Telefono" #telefono="ngModel" [(ngModel)]="socio.Usu_Telefono" class="form-control" minlength="7" maxlength="10" pattern="[0-9]*" required>

        <span *ngIf="!telefono.valid && telefono.touched" tooltip="Solo se permite numeros entre 7 y 10 caracteres"
              [tooltipDisabled]="false"
              [tooltipAnimation]="true"
              tooltipPlacement="right">
            Telefono obligatorio
        </span>
      </div>

      <div>
        <label for="imagen">Subir foto</label>
        <input type="file" name="imagen" #imagen="ngModel" [(ngModel)]="socio.Usu_Image" class="form-control" (change)="fileChangeEvent($event)">

      </div>
          <input type="submit" value="Guardar" class="btn btn-primary" [disabled]="!editarSocioForm.form.valid">

          <input type="button" value="Cancelar" (click)="limpiarForm(editarSocioForm,buscarSocioForm)">

      </form>
  </div>

</div>
