	<div class="titulo"> <h1>Clientes</h1> </div>

	<div class="contenedor">



    <div class="busqueda">
        <form class="fa" action="script_acceso_usuario.php" method="post" name="frm_ingreso">

            <input type="text" id="usuario" name="usuario" placeholder="ID de Usuario">

            <input type="submit" href="inicio.html" value="Buscar usuario"  >

        </form>
      
    </div>

	<div class="datos">

    <form action="script_acceso_usuario.php" method="post" name="frm_ingreso">

      <input type="text" id="usuario" name="usuario" placeholder="ID">
      <input type="text" id="usuario" name="usuario" placeholder="Direccion de Imagen">
      <input type="text" id="nom" name="usuario" placeholder="Nombre">
      <input type="text" id="usuario" name="usuario" placeholder="Apellido Paterno">
      <input type="text" id="usuario" name="usuario" placeholder="Apellido Materno">
      <input type="text" id="usuario" name="usuario" placeholder="Telefono">
      <input type="text" id="usuario" name="usuario" placeholder="Email">
      <input type="text" id="usuario" name="usuario" placeholder="Contraseña">
      <input type="text" id="usuario" name="usuario" placeholder="Confirmar Contraseña">

    </form>
		</div>

		<div class="botones">
    		<form action="script_acceso_usuario.php" method="post" name="frm_ingreso">

      			<input type="submit" href="inicio.html" value="Guardar Cambios"  >
      			<input type="submit" href="inicio.html" value="Cancelar"  >


    		</form>
			
		</div>

		</div> <!-- fin contenedor-->