	<div class="contenedor">

	<div class="datos">

    <form action="script_acceso_usuario.php" method="post" name="frm_ingreso">

       <input type="text" id="nom" name="usuario" placeholder="ID">
      <input type="text" id="nom" name="usuario" placeholder="Descripcion">
      <input type="text" id="usuario" name="usuario" placeholder="Fecha">
      <input type="text" id="usuario" name="usuario" placeholder="Hora">
    </form>
		</div>

		<div class="botones">
    		<form action="script_acceso_usuario.php" method="post" name="frm_ingreso">

      			<input type="submit" href="inicio.html" value="Guardar Cambios"  >
      			<input type="submit" href="inicio.html" value="Cancelar"  >


    		</form>
			
		</div>

		</div> <!-- fin contenedor-->