<div class="contenedor">
	<div class="col-lg-6">
		<h1>{{title}}</h1>

		<div class="alert alert-success" *ngIf="status == 'success'">
			Has actualizado tu informacion correctamente
		</div>

		<div class="alert alert-danger" *ngIf="status == 'error'">
			No has actualizado tus datos
		</div>


		<form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-10">
			 
			<p>
				<label>Nombre</label>
				<input type="text" name="nombre" #name="ngModel" [(ngModel)]="user.Usu_Nombre" class="form-control" required>
				<span *ngIf="!name.valid && name.touched">
					El nombre es obligatorio
				</span>
			</p>
			
			<p>
				<label>Apellido Paterno</label>
				<input type="text" name="paterno" #paterno="ngModel" [(ngModel)]="user.Usu_Apellido_P" class="form-control" required>
				<span *ngIf="!paterno.valid && paterno.touched">
					Apellido paterno obligatorio
				</span>
			</p>

			<p>
				<label>Apellido Materno</label>
				<input type="text" name="materno" #materno="ngModel" [(ngModel)]="user.Usu_Apellido_M" class="form-control" required>
				<span *ngIf="!materno.valid && materno.touched">
					Apellido materno obligatorio
				</span>
			</p>
						
			<p>
				<label>Telefono</label>
				<input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="user.Usu_Telefono" class="form-control" required>
				<span *ngIf="!telefono.valid && telefono.touched">
					Telefono obligatorio
				</span>
			</p>
			
			<p>
				<label>Email</label>
				<input type="email" name="email" #email="ngModel" [(ngModel)]="user.Usu_Email" class="form-control" required>
				<span *ngIf="!email.valid && email.touched">
					El email es obligatorio
				</span>
			</p>



			<p>
				<label for="" *ngIf="!identity.Usu_Image">Subir foto</label>
				<label for="" *ngIf="identity.Usu_Image">Actualizar foto</label>
				<input type="file" placeholder="Subir Imagen" (change)="fileChangeEvent($event)">
			</p>


			<input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!userEditForm.form.valid">

		</form>
	</div>

	<div class="col-lg-6">
			
			<div class="image_for_edit" *ngIf="user.Usu_Image && user.Usu_Image != 'null'">
				<img src="{{url + 'get-image-file/'+user.Usu_Image}}">
			</div>
	</div>
</div>
