<div class="cuerpo">
	

	<div class="ladoizq">
		<div class="denizq">
			<h1> Contacto </h1>

			<p>Puede ponerse en contacto con nosotros de la manera que sea conveniente
      		para usted. Utilizando nuestro correo, llamando al telefono o utilizando
      		un formulario de contacto rapido.</p>
	<br>
	<br>

			<div class="grupo">

				<div class="email">
					<h1> E-Mail </h1>
					<p class="em">poolsolution@hotmail.com</p>
				</div>


				<div class="siguenos">
					<h1> Siguenos </h1>

					<div class="redgrupo">
						<div class="reds">
						<img src="./assets/images/redface.png"/>
						</div>

						<div class="reds">
						<img src="./assets/images/redtwitter.png"/>
						</div>

						<div class="reds">
						<img src="./assets/images/redwhats.png"/>
						</div>
					</div>

				</div>

			</div> <!--fin grupo-->

		</div> <!--fin denizq-->

		<div class="denizq2">
	
			<form action="<?php $_SERVER['PHP_SELF']; ?>" method="POST" > 

				<section id="formulario">
					<div class="salt"></div>

	    			<h1 id="titulo">Formulario  </h1>

	     			<form action="script_acceso_usuario.php" method="post" name="frm_ingreso">
	      				<input type="text" id="nombre" name="nombre" placeholder="Nombre"> 
	      				<input type="text" id="apellido" name="apellido" placeholder="Apellido">
	     				<br>
	      				<input type="text" id="correo" name="correo" placeholder="correo">
	     				<textarea name="mensaje" placeholder="Mensaje"></textarea>
	      				<input type="submit" href="inicio.html" value="Enviar"  >

	    			</form>  
	    			<div style = "font-size:16px; color:#cc0000;"></div>
	    		</section>
	    	</form>
		</div> <!--fin denizq-->


	</div> <!--fin del lado izquierdo-->

	<div class="ladoder">

		<div class="ubic">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58729.103032246785!2d-109.74568883279488!3d23.07625990565765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86af50a78c8856e7%3A0xddee9785dae75a4e!2sSan+Jos%C3%A9+del+Cabo%2C+B.C.S.!5e0!3m2!1ses!2smx!4v1477289739176" width="430" height="977" frameborder="0" style="border:0" allowfullscreen></iframe>	
		</div>

	</div> <!--fin del lado derecho-->
</div> <!--fin del cuerpo-->
