	<div class="cuerpo">
		<br> <br> <br>
		<div class="titulo"><h1 id="tit"> Mantenimiento a su sistema de monitoreo </h1>
		</div>

		<div class="contenedor">
			<div class="opcion">
				<div class="cizq">
					<div class="imciz"> <img class="log" src="./assets/images/llave.png"></div>
					
				</div>
				<div class="cmed">
					<div class="textmed">
						
						<p class="tpmed"> Este servicio te permite restaurar tu sistema de monitoreo en caso de presentar fallas o daños
						fisicos. Primero se evaluara el estado de afectacion del equipo, para posteriormente notificar el valor del mantenimiento</p>
					</div>
					
				</div>
				<div class="cder">
					<div class="cprebut">
						
						<input class="venta" type="submit" href="inicio.html" value="Contratar"  >
						
					</div>
					
				</div>
				
			</div>


		</div> <!--fin contenedor-->

	</div> <!--fin cuerpo-->